.movie_cast_item {
	width: 205px;
    margin: 5px;
   background-color: #404040;
   border-radius: 5px
}

.movie_cast_item  img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
